body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #800080, #ff0000);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 500px;
    text-align: left;
    margin: 20px 0;
}

h2 {
    color: #f8f8f8;
    text-shadow: 2px 2px 4px rgba(10, 10, 10, 0.7);
    margin-bottom: 20px;
    font-size: 200%;
    text-align: center;
}

input,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

select {
    background: black;
    color: white;
    border: 2px solid white;
}

input:focus,
select:focus {
    border-color: #ffcccc;
    outline: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

button {
    width: 100%;
    background: #99004d;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
}

button:hover {
    background: #ff3366;
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
}